@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
* {
    box-sizing: border-box; }

body {
    padding: 0;
    margin: 0;
    font-family: "cwTeXHei"," Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71; }
h1,h2,h3,h4,h5,h6{
    font-family: "cwTeXHei"," Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    color: #777;
    text-decoration: none; 
}
a:hover{
    color: #1e6bb8; 
}
.font-white{
    color:#fff;
}
.title,
.mdl-layout__title, .mdl-layout-title,
.mdl-list__item 
{
    font-family: "cwTeXHei"," Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.im-header
{
    margin: 0 auto;
    max-width: 1280px;
}
.mdl-layout__header-row .text-grey,
.mdl-layout__header .mdl-layout__drawer-button{
    color: #fff;
}
.top-line{
    border-top: red solid 2px;
}
.right{
    float: right;
}

.cover-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    width: 100%;
}
.cover{
    width: 100%;
    display: table;
    position: relative;
    z-index: 0;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px #000;
    
}
.cover-bg1{
    width: 100%;
    left: 0;
    top: 0;
    background: url('../images/31040496_960.jpg') center / cover;

}
.cover-bg2{
    width: 100%;
    left: 0;
    top: 0;
    background: url('../images/36961551_960.jpg') center / cover;

}
.cover-bg3{
    width: 100%;
    left: 0;
    top: 0;
    background: url('../images/47356182_960.jpg') center / cover;

}
.cover-bg,
.cover,
.cover-bg1,
.cover-bg2 ,
.cover-bg3 {
    height: 956px;
}

@media screen and (max-width: 42em) {
    .cover-bg,
    .cover,
    .cover-bg1,
    .cover-bg2 ,
    .cover-bg3 {
        height: 568px;
    }
}
.cover-bottom{
    max-width: 800px;
}
.cover-bottom .option-1,
.cover-bottom .option-2,
.cover-bottom .option-3,
.cover-bottom .option-4{
    height: 159px;
    line-height: 156px;
}
.bottom-line {
    background-color: #fff;
    opacity: 0.5;
    height: 60px;
    top: 155px;
    position: relative;
    width: 100%;
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .bottom-line{
        top: 410px;
    }
}
@media screen and (max-width: 42em) {
    .bottom-line{
        top: 53px;
        height: 30px;
    }
}
.option-1 {
    background: url('../images/icon-top-01.png') center no-repeat;
} 
.option-2 {
    background: url('../images/icon-top-02.png') center no-repeat;
} 
.option-3 {
    background: url('../images/icon-top-03.png') center no-repeat;
} 
.option-4 {
    background: url('../images/icon-top-04.png') center no-repeat;
} 
.cover .logo{
    height: 215px;
    background: url('../images/cover_logo.png') center no-repeat;
    color: #79C2C4;
    margin:100px auto 20px;

}
.logo img{
    width: 235px;
}
.cover .logo h2{
    line-height: 200px;
    font-weight: 200;
}
.cover .title-1 {
    font-size: 28px;
    margin: 0px;
}
.cover .title-2{
    font-size: 14px;
    margin: 0px;
}
.cover h1{
    font-size: 46px;
    margin: 0px;
}
.cover .title-3{
    font-size: 18px;
}
.icon-fb
{
    width: 32px;
    height: 32px;
    display: block;
    background: url('../images/icon-top-FB.png') center / cover;
}
.icon-mail
{
    width: 32px;
    height: 32px;
    display: block;
    background: url('../images/icon-top-mail.png') center / cover;
}
.ddl{
    background-color: transparent;
    border: #fff solid 1px;
    color:#fff;
    width: 200px;
    height: 32px;

}
.content-block1 {
    background:#0CA7A9 url('../images/icon-top-05.png') center no-repeat;
    height: 375px;
}
.content-block2 {
    background:#9BB824 url('../images/icon-top-06.png') center no-repeat;
    height: 375px;
}
.content-block3 {
    background:#E9AA38 url('../images/icon-top-06.png') center no-repeat;
    height: 375px;
}
.content-block4 {
    background:#E9AA38 url('../images/icon-top-08.png') center no-repeat;
    height: 375px;
}
.content-block5 {
    background:#0CA7A9 url('../images/icon-top-09.png') center no-repeat;
    height: 375px;
}
.content-block6 {
    background:#9BB824 url('../images/icon-top-10.png') center no-repeat;
    height: 375px;
}
.page-content h3{
    margin: 0px auto;
}
.mdl-list__item a{
    background: url('../images/icon-top-11.png')left top no-repeat;
    padding-left: 20px;
    overflow: hidden;
    font-size: 18px;
}
.mdl-tabs .scroll{
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
}
.mdl-tabs__tab-bar a{
    overflow: visible;
    white-space: nowrap;
    min-width: 20%;
    padding: 0px;
}
.mdl-tabs__panel ul {
    margin: 5px 0 0;
    padding: 0 5px 0 5px;
}
.mdl-tabs__panel ul > li{
    padding: 8px 0px 8px 5px;
    border-bottom: 1px dotted #aaa;
    list-style: none;
    margin: 0px;
    position: relative;
}
.date-block {
    position: absolute;
    margin-right: 10px;
}
.list-content{
    margin-left: 80px;
}
@media screen and (max-width: 42em) {
    .list-content{
        margin-left: 60px;
    }
}
.mdl-tabs__tab-bar a,
.date-block,
.list-content{
    font-size: 16px;
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .mdl-tabs__tab-bar a,
    .date-block,
    .list-content{
        font-size: 14px;
    }
}
@media screen and (max-width: 42em) {
    .mdl-tabs__tab-bar a,
    .date-block,
    .list-content{
        font-size: 12px;
    }
}
.mdl-logo img{
    max-width: 100px;
    max-height: 50px
}
.mdl-layout__header-row .mdl-navigation__link{
    padding: 0 12px;
}
.mdl-layout__container{
    position: relative;
}
/*
@media screen and (max-width: 1024px){
.mdl-layout__drawer-button{
color: #fff;
}
}
*/

.menu{
    margin: 0;
    padding: 0;
}
.menu > li {
    float: left;
}
ul.menu li:first-child {
    border-left: none;
}
ul.menu > li {
    border-left: 1px solid #d2d6d5;
}
ul.menu li {
    position: relative;
}
li {
    list-style: none;
}
ul.menu li a, ul.menu li span {
    display: block;
    height: 66px;
    padding: 0 15px;
    color: #313131;
    line-height: 64px;
    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
}
ul.menu > li a:hover,
ul.menu > li span:hover,
ul.menu > li.open span {
    background-color: #eee;
}

@media screen and (min-width: 64em) {
    .menu {
        display: none } }
.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
.btn + .btn {
    margin-left: 1rem; }

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem; }
    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0; } }

.page-header {
    color: #fff;
    text-align: center;

}
/*
@media screen and (min-width: 64em) {
.page-header {
padding: 0 } }

@media screen and (min-width: 42em) and (max-width: 64em) {
.page-header {
padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
.page-header {
padding: 2rem 1rem; } }
*/

.project-name {
    margin-top: 64px;
    margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem; } }

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7; }

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem; } }
.page-content{
    max-width: 1280px;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.main-content :first-child {
    margin-top: 0; }
.main-content img {
    max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957; }
.main-content p {
    margin-bottom: 1em; }
.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #383e41;
    background-color: #f3f6fa;
    border-radius: 0.3rem; }
.main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem; }
.main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
    margin-bottom: 1rem; }
.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0; }
.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
    margin-top: 0; }
.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0; }
.main-content blockquote > :first-child {
    margin-top: 0; }
.main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; }
.main-content table th {
    font-weight: bold; }
.main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
    padding: 0; }
.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0; }

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 4rem;
        font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem; } }

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1; }

.site-footer-owner {
    display: block;
    font-weight: bold; }

.site-footer-credits {
    color: #819198; }

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem; } }

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem; } }
